@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
.nav {
    width: 100%;
    cursor: pointer;
    position: fixed;
    /* display: flex;
    justify-content: center; */
    text-align: end;
    background-color: white;
    height: 5rem;
    background: white;
    font-size: 2vw;
    padding-bottom: 15px;
    /* color: white; */
    z-index: 99;
    /* font-family: 'Montserrat', sans-serif; */
    box-shadow: 0px 1px 5px black;
}

.Header_content {
    display: flex;
    justify-content: space-between;
}

.brand-logo {
    font-family: 'Grand Hotel', cursive;
    font-weight: 200;
    font-size: 1.5rem;
}

.Header-links a {
    color: black;
    text-decoration: none;
}

.sub-post {
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    /*Big smartphones [426px -> 600px]*/
    h3 {
        font-size: 1rem;
    }
    h6 {
        font-size: 1rem;
    }
    .nav {
        width: 100%;
    }
    .sub-post {
        font-size: 0.8rem;
    }
    .btn-header {
        width: 1rem;
        font-size: 0.6rem;
    }
}